@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  height: 100%;
  width: 100%;
}

.home {
  height: 100%;
}

.bg-img {
  background: url(../../assets/imgs/background-2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.container-button {
  max-width: 400px;
  margin-inline: auto;
  text-align: center;
  margin-block: auto;
}

.boton {
  color: whitesmoke;
  padding: 10px 40px;
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: #6b441d;
  font-weight: 800;
  border: none;
  outline: none;
  text-decoration: none;
  margin-top: 0.85rem;
  display: inline-block;
}

.boton:hover {
  background-color: #c58235;
  color: white;
  text-decoration: none;
}

@media (max-width: 700px) {
  .title-home {
    font-size: 30px;
  }
  .container-button {
    max-width: 200px;
  }
}
