.bg {
  background: url(../../assets/imgs/bg-user.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

.test {
  color: rgb(96, 96, 194);
  text-align: center;
  padding-top: 50px;
}
