@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  line-height: 1;
}

.header-nav {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
  background: rgb(48, 48, 48);
  width: 100%;
  margin: 0 auto;
  box-shadow: 4px 10px 5px 0px rgba(104, 14, 14, 0.5);
  position: sticky;
  z-index: 5;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 10vh;
  filter: grayscale();
}

h4 {
  color: white;
  font-size: 18px;
}

.navi-links {
  display: flex;
  padding-top: 1rem;
  list-style: none;
}

.navi-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  background: transparent;
  letter-spacing: 2px;
  padding-right: 3rem;
}

.navi-link:hover {
  color: white;
  text-decoration: none;
}

.links-st {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  padding-right: 4rem;
  font-size: 22px;
}

.links-st:hover {
  color: #b8f5c8;
  text-decoration: none;
}

.hamburguesa-home {
  display: none;
}

.line-hamb {
  background-color: white;
  height: 3px;
  width: 24px;
  margin-bottom: 5px;
}

@media (max-width: 700px) {
  .navi-links {
    display: none;
  }

  /* .hamburguesa-home {
    display: flex;
    padding-right: 0.75rem;
    flex-direction: column;
    cursor: pointer;
  } */
}
